body{
  background-image: url("bild.png");
  background-attachment: fixed;
}

.background {
  background-image: url("bild.png");
  color: white;
  background-attachment: scroll;
}

footer {
  text-decoration: blink;
  color: #111111;
  text-align: center;
  font-family: Courier New;
}
