body{
  background-image: url("bild.png");
  background-attachment: fixed;
}

.background {
  background-image: url("bild.png");
  color: white;
  background-attachment: scroll;
}

footer {
  text-align: center;
}

p, h3 {
  font-family: Roboto, Courier New;
}

.head {
  font-size: 40px;
  margin-top: 20%;
}

#copy {
  text-decoration: blink;
  color: #FFFFFF;
  font-family: Roboto, Courier New;
}

.about {
  margin-top: 5%;
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  font-family: Roboto, Courier New;
}

.text {
  background-color: transparent;
  font-size: 20px;
  text-align: left;
}
